body {
  overflow: hidden;
}
.title {
  color: white;
  font-size: 25px;
  text-align: center;
}

#name_inp,
#email_inp,
#feedback_inp {
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: rgb(54, 144, 246);
}
span {
  color: rgb(54, 144, 246);
  font-size: 13px;
  font-weight: bold;
}  

.holder {
  position: absolute;
  background-color: rgba(250, 198, 27, 0.948);
  top: 30%;
  left: 24%;
  padding: 50px;
  width: 50%;
  height: 400px;
  border-radius: 34%;
  transition: 2s;
}
.holder:hover {
  border-radius: 18%;
  transition: 1s;
}
label {
  color: white;
  font-weight: 540;
}
.group {
  gap: 10px;
  display: grid;
  align-content: space-around;
}
#name {
  font-size: 20px;
  grid-column: 1;
  grid-row: 1;
}
#name_inp {
  grid-column: 1;
  grid-row: 2;
}
#email {
  font-size: 20px;
  grid-column: 2;
  grid-row: 1;
}
#email_inp {
  grid-column: 2;
  grid-row: 2;
}
#feedback {
  font-size: 20px;
  grid-column: 1;
  grid-row: 3;
}
#feedback_inp {
  padding: 10px;
  grid-column: 1 / span 2;
  grid-row: 4;
}
.btn {
  font-size: 16px;
  grid-column: 1 / span 2;
  grid-row: 5;
  background-color: white;
  color: rgb(54, 144, 246);
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  transition: 1s;
  border: 3px solid rgb(54, 144, 246);
}
.btn:hover {
  color: white;
  background-color: rgb(54, 144, 246);
  transition: 0.5s;
}
